<%- include("partials/header.ejs") %>
<div class="fullbody">
<div class="workswitch">
    <h1 class="pw1">Work</h1>
    <label class="switch">
      <input type="checkbox" onchange="toggleworkspace()" id="switchbox">
      <span class="slider round"></span>
    </label>
    <h1 class="pw2">Personal</h1>
  </div>
<div class=" container rounded-3 border border-2 border-dark my-5 bg-white" style="height:auto;">
    <div>
    <h1 class="h1 text-dark">To Do List</h1> 
<div class="row">
        <div class=" col-8">
    <input class=" py-3 form-control shadow" placeholder="Enter your task" type="text" id="inputText"> 
        </div>
        <div class="col-2">

            <button onclick="addList()" class=" mt-2 btn btn-dark"> Add </button>
        </div>
    </div>
</div>
    <hr>
<div class="row rounded bg-white">
    <div class=" col-12"> 
    <ul class=" list-group" id="list"></ul>
    </div> 
</div> 
</div>
</div>


<%- include("partials/footer.ejs") %>